body{
    background-color:rgb(27, 145, 53);

    color:rgb(44, 124, 161);

    width:70%;

    margin-left:30px;
}
p{
    background-color: rgb(81, 166, 73);

}
.Gratulation{color:rgb(179, 74, 74)}
#überlebt{color:rgb(164, 31, 31)}
.Gut{font-family: fantasy;}
#Super{font-weight: light;}
.Haftbefehl{font-weight: 200;}